/* styles.css */
body {
  background-color: #0A0A0A;
  margin: 0;
  color: #F5F5F5;
  height: 100%;
}

header {
  background: #0A0A0A;
  color: #00FFFF;
  text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  flex-wrap: nowrap;
  min-width: 500px;
}

#logo-text {
  font-family: 'Righteous', sans-serif;
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: #00FFFF;
  text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF;
  text-wrap: nowrap;
  padding-right: 20px;
}

#buttons-right {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;

}

.navbutton {
  color: #00FFFF;
  border: 2px solid #00FFFF;
  background: transparent;
  text-shadow: 0 0 8px #00FFFF;
}

.navbutton:hover {
  color: #FF00FF;
  border-color: #FF00FF;
  text-shadow: 0 0 10px #FF00FF;
  cursor: pointer;
}

/* navbar content */

#headline-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding:10px;
}



#headline {
  font-size: 32px;
  font-weight: bold;

}

#headline-subtext {
  font-size: 18px;
}

* {
  border: solid 1px red;
}

#home-content {
  padding: 50px;
  display: flex;
  gap: 30px;
}

.booking-button {
  width: 200px;
  background: transparent;
  color: #00FFFF;
  border: 2px solid #00FFFF;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0 0 8px #00FFFF;
  box-shadow: 0 0 8px #00FFFF;
  transition: all 0.3s ease;
}

.booking-button:hover {
  background: #00FFFF;
  color: #0A0A0A;
  box-shadow: 0 0 20px #00FFFF, 0 0 5px #00FFFF;
}

#home-content img {
  display: block;
  width: 500px;
}